:root{
    --primary-color:  #3c493f;
    --secondary-color: #1c2b32;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font:"Times New Roman", "Georgia", serif;
    --body-font:"'Montserrat', 'Segoe UI', sans-serif";


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: #E6EDF0;
}

header, main, footer {  
width: 840px;
margin: 0 auto;
}

header{
display: grid;
padding-bottom: 3px;
grid-template-columns:1fr 1fr;
align-items: center;
background-color: var(--accent1-color);
margin-bottom: 1%;
border-radius: 10px;
}
header img{
    display: block;
    width: 130px;
    height: 130px;
    max-width: 80%;
    justify-self: center;

}
.head{
    display:flex;
    justify-self:flex-start;
    gap:1rem;
}
.head a{
    min-width: fit-content;
    background-color: var(--accent2-color);
    text-decoration: none;
    color: #2C2C2C;
    padding: 6px;
    border: 1px solid #A68A45 ;
    border-radius: 10px;
    letter-spacing: 2px;
}


h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, article {
margin: 16px;
padding: 8px;
}
/*section history*/
.history{
background-color: var(--accent1-color);
margin-top: 5%;
display: grid;
grid-template-columns: 1fr 1fr 1fr; 
grid-template-rows: 5rem 1fr;
justify-content: center;
align-items: center;
padding: 1rem;
border-radius: 10px;

}

.history h2{
    align-self: flex-start;
    z-index: 1;
    grid-column: 2;
    grid-row: 1;
    background-color: var(--accent2-color);
    padding: 10px;
    border-radius:  20px;
    text-align: center;
}
.history img{
    z-index: 1;
    max-width: 90%;
    min-height: 225px;
    grid-column: 2;
    grid-row: 2;
    display: block;
    margin:0 auto;
    border-radius: 10px;
    background-color: var(--secondary-color) ;
    padding: 10px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.3);
}
.history p{
    z-index: 1;
    color:#fff;
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

.history p:first-of-type{
    grid-column: 1;
    grid-row: 2;
}

.history p:last-of-type{
    grid-column: 3;
    grid-row: 2;
}
/*end of section*/
/* section adventures*/
.adventures{
    margin-top: 5%;
    background-color: var(--accent1-color);
    padding:2rem;
    border-radius: 10px;
}
.adventures h2{
background-color: var(--accent2-color);
padding: 10px;
border-radius:  20px;
text-align: center;
}

/*end of section*/

.figure-flex{
    display: flex;
    justify-content: space-around;
}

figure {
  margin: 0;
  width: 18%; 
  text-align: left; 
  color: #fff;
}

.figure-flex figure img{
    width: 150px;
    height: 150px;
    padding: 5px;
    margin-top: 1rem;
    background-color: var(--secondary-color);
    border-radius: 10px;
}
/*end of section*/
.socialmedia a{
    text-decoration: none;
}
.hero{
    position: relative; 
    display: flex;
    flex-direction:column;
    align-content: center;
}

.info{
    width:100%;
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.info p{
    padding: 1px;
    margin:0;
    gap:0;
}

.hero img{
    display:block ;
    width:100%;
    height: auto;
}

.hero h1{
    position: absolute;
    background-color: var(--accent2-color);
    top:20px;
    width:100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;

}
.hero article{
    background-color: var(--accent1-color);
    opacity: 0.9;
    color:#fff;
    width:95%;
    position: absolute;
    top:400px;
    left: 2.5%;
    margin: 0;
}
.hero article p{
    text-align: justify;
    padding: 10px;

}
.hero article img{
    float: right;
    width: 125px;
    padding: 0px;
    border:  5px dotted var(--secondary-color);
    margin-top: 10px;
    margin-left: 15px;
}

footer{
    display: flex;
    border-top: 1px dotted black ;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
footer p{
margin:0;
font-size: smaller;
}
footer img{
    max-width: 50px;
}
footer nav{
    max-width: 150px;
    margin: 0;
    padding: 0;
}
.socialmedia{
    width:100%;
    display:flex;
}

.socialmedia img{
    width: 40px;
    padding-right:4px;
}

.form-map{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    height: auto;
    background-color: var(--accent1-color);
    padding: 3%;
    border-radius: 10px;
}
.map{   
    width:45% ;
    background-color: var(--accent2-color);
    padding: 0.5%;
    border-radius: 10px;

}
.map iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
form{
    color:#2D372F;
    background-color: var(--accent2-color);
    padding: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 100%;
}
.form-group{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 2%;
}
.form-group label{
    width:20%;
}
.form-group input{
    padding: 5px;
    border-radius: 4px;

    height: 30px;
    width:70%;
    border: 1px solid #ccc;
}
.form-group-radio{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}
.message-purpose{
    grid-row: 2;
}
.form-group-radio label{
    display: flex;
    gap:10px;
    grid-column: 2;
    align-items: center;

}
.form-group-mesagge{
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
    height: 6rem;
}
textarea{
    resize: none;
    max-width: 91%;
    height: 100%;
    padding: 5px;
}
.form-button{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2%;
}
.form-button button{
    padding: 0.5rem 1rem;
    width: 70%;
    background-color: var(--accent1-color);
    border: 1px solid var(--secondary-color) ;
    color: white;
    letter-spacing: 2px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2ms ease;
}
.form-button button:hover{
    background-color: var(--secondary-color);
}
input:focus, textarea:focus {
    outline: none;
}
.hero-trips{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent2-color);
    margin-bottom:1rem;
    border-radius: 10px;
}

.flip-card{
    background-color: transparent;
    width: 300px;
    height: 500px;
    perspective: 1000px;
    margin: 10px;
}
.flip-card-inner{
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition:transform 0.6s;
transform-style: preserve-3d
}
.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    overflow: hidden;
}
.flip-card-front {
    background-color: #bbb;
    color: black;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}
.flip-card-back {
    background-color: var(--accent2-color);
    color: var(--primary-color);
    transform: rotateY(180deg);
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
}   
.flip-card-back h3,p{
    margin: 0;
    padding: 0;
}
.flip-card-back a{
    text-decoration: none;
    background-color: #1c2b32;
    padding: 10px;
    border-radius: 10px;
    color: #E6EDF0;
}
.flip-card-front img{
    width: 300px;
    height: 500px;
}

.flip-cards{
    display: flex;
    justify-content: space-between;
    background-color: var(--accent1-color);
    border-radius: 10px;
    padding: 1rem;
}
.contact-us{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5%;
}
.contact-us a{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: var(--secondary-color);
    padding: 20px 50px;
    border-radius: 10px;
    letter-spacing: 3px;
    text-decoration: none;
    background-color: var(--accent2-color);
    transition: 0.3s ease;
}
.contact-us a:hover{
    background-color:#A68A45;
    transform: translateY(-5px) translateX(1px);
}
table{
    border-collapse:collapse ;
    background-color: var(--accent1-color);
    padding:10px;
    color: #fff;
    border-radius: 10px;
    margin: 2rem auto;
    width: 100%;
}
table th, table td {
    padding: 12px 18px;
    text-align: left;
}
tr{
    display: flex;
    justify-content: center;
    width: 80%;
}
thead, tbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
td{
    display: flex;
    justify-content: center;
}
.reserve-button a{
    position: absolute;
    text-decoration: none;
    color: var(--secondary-color);
    background-color: #e9c46a;
    padding: 15px 55px;
    border-radius: 10px;
    left: 38%;
    top: 62%;
    font-weight: bolder;
    letter-spacing: 3px;
    transition: 0.3s ease;
}
.reserve-button a:hover{
    background-color: #A68A45;
}
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.grid-h2{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    background-color: var(--accent2-color);
    padding: 10px;
    border-radius: 10px;
}
.home-grid img{
    height: 300px;
    padding: 5px;
    background-color: var(--accent2-color);
    border-radius: 10px;
}
.grid-card{
    padding: 20px;
    border-radius: 10px;
    background-color: var(--accent1-color);
    color: #fff;
    text-align: center;
}
.grid-card h2{
    padding:8px;
}
.grid-card p{
    padding:8px;
    line-height: 1.6;
}
.newsletter{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.form-field{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.form-field input{
    padding: 10px 15px;
    border: 1px solid #A68A45;
    border-radius: 10px;
}
.form-field button{
padding: 10px 20px;
background-color: var(--accent1-color);
color: #fff;
border: none;
border-radius: 10px;
cursor: pointer;
transition: 0.3ms ease;
}
.form-field button:hover{
    background-color:#1c2b32;
}
.newsletter{
    background-color: var(--accent1-color);
    padding: 20px;
    border-radius: 10px;
}
.newsletter h2{
    margin-bottom: 1rem;
    color: #fff;
}