:root{
    --primary-color: #055a05;
    --secondary-color: #1c2b32;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font:"Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: #E6EDF0;
}

header, main, footer {
width: 840px;
margin: 0 auto;
}
h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, article {
margin: 16px;
padding: 8px;
}

.socialmedia a{
    text-decoration: none;
}
.hero{
    position: relative; 
}

.hero img{
    display:block ;
    width:100%;
    height: auto;
}

h1{
    position: absolute;
    background-color: var(--accent2-color);
    top:20px;
    width:100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;

}
.hero article{
    background-color: var(--accent1-color);
    opacity: 0.9;
    color:#fff;
    width:95%;
    position: absolute;
    top:400px;
    left: 2.5%;
    margin: 0;
}
.hero article p{
    text-align: justify;
    padding: 10px;

}
.hero article img{
    float: right;
    width: 125px;
    padding: 0px;
    border:  5px dotted var(--secondary-color);
    margin-top: 10px;
margin-left: 15px;
}

h2{
    width: 100%;
    text-align: center;
    margin-top: 4rem;
    background-color: var(--accent2-color);
    padding: 10px;
}

footer{
    border-top: 1px dotted black ;
}
footer p{
margin:0;
font-size: smaller;
}

.socialmedia{
    width:100%;
    display:flex;
    margin: 0;
}
.socialmedia img{
    width: 80px;
    margin-right: 1rem;
}