*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--top-color: darkblue;
}
nav{
    display: flex;
    width: 100%;
    background-color: var(--top-color);
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
}
nav a {
color: white;
display: block;
flex-direction: row;
padding: 1rem;
text-decoration: none;
}
h1 {
    color:var(--top-color);
    border-bottom:solid #333;
    margin-bottom: 1rem;
}

img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p{
    padding: 0;
}
main{
    max-width: 840px;
}

aside{
    width: 20em;  
    text-align: center;
    position: relative;
    order:-1;
}

aside img{
    width: 200px;
    height: auto;
}

main img{
    float: right;
    width: 150px;
    height: auto;
    border:1px solid steelblue ;
    padding: 2px ;
    box-shadow: 0 0 30px #333;
    margin-left: 1rem;
}
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

footer{
    margin-top: 2rem;
    border-top: 1px solid black;
    text-align: center;
}       
/*class selectors*/
.box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8%;
    height: 100%;
    margin: 3rem 1rem 1rem;
    border: 1px solid black;
    padding:  1rem;
    background-color: #eee;
    color: #333;
} 

aside h2{
    position: absolute;
    top: 18%;
    left: 40%;
    
}
aside p{
    text-align: justify;
}

.grid{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}