body{
    display: flexbox;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #333;
    color: white;
    padding: 1px 10%;
    letter-spacing: 0.5px;
    display: inline-block;
}

header p{
    margin: 10px 2px;
}
img{
    width: 23.5%;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
}
section{
    background-color: rgb(211, 211, 211);
    width: 22%;
    padding: 10px;
    margin: 20px 38%;
}

section h2{
    border-bottom: 1px solid #333;
    margin: 19px 5px 20px;
    text-align: justify;
    font-size: medium;
}

section p{
    text-align: justify;
    font-size: small;
}

section ul{
    text-align: justify;
    font-size: small;
}

footer{
    background-color: #333;
    color: white;
    display: inline-block;
    padding: 0 25%;
    margin: 0;

}
footer p{
    padding:0;
    margin:0 16;
}